#enterForm {
	
	text-align: center;
}

#regButton {

	text-align: center;
}

#sign {
	width: 100px;
}

#reg {
	width: 100px;
}

html { height: 100%; }
body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(resources/hotel.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 